In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
%matplotlib inline

In [2]:
data = pd.read_csv('C:/Users/ZMHD022/Desktop/home_credit/only_app3.csv')

In [3]:
data.head()

,appl_id,loan_type,gender,own_car,own_realty,tot_child,tot_income,cr_amt,amt_annuity,goods_amt,...,elevator,entrance,floor_max,floor_min,land_area,l_apt,l_area,nonl_apt,nonl_area,target
0,339348,CL,F,N,N,0,81000,397881,20732,328500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,237809,CL,F,N,Y,0,90000,284400,16011,225000,...,241.0,207.0,333.0,263.0,148.0,180.0,157.0,12.0,18.0,0
2,322764,RL,F,N,Y,0,135000,405000,20250,405000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,345214,CL,F,N,Y,0,54900,110331,11588,103500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,439392,RL,F,N,N,0,202500,1350000,67500,1350000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [4]:
data['loan_type'].value_counts()

CL    1572
RL     898
Name: loan_type, dtype: int64

In [15]:
sc1 = data.cr_score1.dropna()
sc2 = data.cr_score2.dropna()
sc3 = data.cr_score3.dropna()
credit_amount = data.cr_amt

In [7]:
print(sc1.describe())
print(sc2.describe())
print(sc3.describe())

count    977.000000
mean       0.521095
std        0.219273
min        0.020000
25%        0.350000
50%        0.530000
75%        0.700000
max        0.940000
Name: cr_score1, dtype: float64
count    2452.000000
mean        0.533230
std         0.191198
min         0.000000
25%         0.420000
50%         0.580000
75%         0.690000
max         0.850000
Name: cr_score2, dtype: float64
count    154.000000
mean       0.706753
std        0.180025
min        0.070000
25%        0.662500
50%        0.785000
75%        0.820000
max        0.880000
Name: cr_score3, dtype: float64

In [16]:
stats.shapiro(sc1), stats.shapiro(sc2), stats.shapiro(sc3) ,stats.shapiro(credit_amount)

((0.9740753173828125, 3.425404491302908e-12),
 (0.9214766621589661, 5.782693848656544e-34),
 (0.7777631282806396, 5.216851527590355e-14),
 (0.8668100833892822, 1.2231934295091328e-41))

In [9]:
stats.levene(sc1, sc2, sc3)

LeveneResult(statistic=36.075221210401345, pvalue=3.079767928683528e-16)

In [10]:
F, p = stats.f_oneway(sc1, sc2, sc3)
print('F statistic = {:5.3f} and probability p = {:5.3f}'.format(F, p))

F statistic = 59.704 and probability p = 0.000

In [11]:
# apply ttest_indep()
t, p = stats.ttest_ind(sc1, sc2)
print('sc1 vs sc2:', t, p)

t, p = stats.ttest_ind(sc1, sc3)
print('sc2 vs sc3:', t, p)

t, p = stats.ttest_ind(sc2, sc3)
print('sc2 vs sc3:', t, p)

sc1 vs sc2: -1.6069594044764297 0.10815539825413074
sc2 vs sc3: -9.98883700985593 1.4278549114554467e-22
sc2 vs sc3: -10.961249876779227 2.3028856246987466e-27